@import "tailwindcss";

.Figmagradient {
  background: linear-gradient(300deg, red, blue, green, orange);
  background-size: 180%, 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 80%;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Montserrat";
}
