<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/output.css" />
    <link rel="icon" type="image/x-icon" href="../assets/logo.webp" />
  </head>
  <body class="overflow-x-hidden bg-black font-[Montserrat] text-white">
    <nav class="flex items-center justify-between gap-4 border-b p-4">
      <a href="{{url_for('home')}}">
        <img
          class="w-12 hover:motion-safe:animate-spin"
          src="../assets/logo.webp"
          alt="Logo"
        />
      </a>

      <!-- Desktop menu - visible on lg screens and above -->
      <div class="hidden items-center gap-2 lg:flex">
        <a href="{{url_for('matei')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-blue-500"
          >
            Matei Ovidiu Serban
          </button>
        </a>
        <a href="{{url_for('lorenzo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-red-500"
          >
            Lorenzo Faccio
          </button>
        </a>
        <a href="{{url_for('marco')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-green-500"
          >
            Marco Fediuc
          </button>
        </a>
        <a href="{{url_for('matteo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-yellow-400"
          >
            Jun Bao Matteo Qiu
          </button>
        </a>
        <a
          href="#"
          class="group relative ml-4 inline-flex items-center justify-center overflow-hidden text-nowrap rounded-lg bg-green-800 px-4 py-1.5 font-medium tracking-tighter text-white"
        >
          <span
            class="absolute h-0 w-0 rounded-full bg-yellow-600 transition-all duration-500 ease-out group-hover:h-56 group-hover:w-56"
          ></span>
          <span
            class="absolute inset-0 -mt-1 h-full w-full rounded-lg bg-gradient-to-b from-transparent via-transparent to-gray-700 opacity-30"
          ></span>
          <span class="relative">
            <span
              class="block opacity-100 transition-opacity duration-300 group-hover:opacity-0"
              >Change it up!</span
            >
            <span
              class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
              >Coming soon!</span
            >
          </span>
        </a>
      </div>

      <!-- Hamburger button - visible below lg screens -->
      <button
        id="hamburger-button"
        class="flex cursor-pointer flex-col items-center justify-center rounded-md bg-white p-2 lg:hidden"
      >
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
      </button>
    </nav>

    <!-- Mobile menu - hidden by default -->
    <div
      id="mobile-menu"
      class="fixed inset-0 z-50 hidden bg-[#1c1c1c] pt-4 text-white lg:hidden"
    >
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between">
          <img class="w-16" src="../assets/logo.webp" />
          <button
            id="close-menu"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white text-3xl text-black"
          >
            &times;
          </button>
        </div>
        <div class="mt-8 flex flex-col gap-4">
          <a href="{{url_for('matei')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-blue-500"
            >
              Matei Ovidiu Serban
            </button>
          </a>
          <a href="{{url_for('lorenzo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-red-500"
            >
              Lorenzo Faccio
            </button>
          </a>
          <a href="{{url_for('marco')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-green-500"
            >
              Marco Fediuc
            </button>
          </a>
          <a href="{{url_for('matteo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-yellow-400"
            >
              Jun Bao Matteo Qiu
            </button>
          </a>
          <div class="w-full">
            <input
              type="radio"
              id="state1"
              name="mobile-state"
              class="peer/default hidden"
              checked
            />
            <input
              type="radio"
              id="state2"
              name="mobile-state"
              class="peer/active hidden"
            />

            <label
              for="state2"
              class="block w-full cursor-pointer rounded-lg bg-green-800 p-2 text-left text-white peer-checked/default:block peer-checked/active:hidden"
            >
              Change it up!
            </label>

            <label
              for="state1"
              class="hidden w-full cursor-pointer rounded-lg bg-yellow-600 p-2 text-left text-white peer-checked/active:block peer-checked/default:hidden"
            >
              Coming soon!
            </label>
          </div>
        </div>
      </div>
    </div>

    <section
      class="mx-auto flex w-full flex-col items-center justify-center gap-8 p-10 px-8 lg:gap-32 lg:p-16"
    >
      {% if msg_sent == False: %}
      <div class="">
        <h1
          class="mb-4 text-center text-4xl font-medium tracking-tight md:text-5xl lg:text-6xl"
        >
          Any doubts? Any questions?
        </h1>
        <h1
          class="mb-2 text-center text-4xl font-medium tracking-tight md:text-5xl lg:text-6xl"
        >
          Don't hesitate, reach out to me!
        </h1>

        {% else %}
        <h1
          class="mb-2 text-center text-4xl font-medium tracking-tight md:text-5xl lg:text-6xl"
        >
          Message Sent!
        </h1>
        {% endif %}
        <hr />
      </div>
      <form
        action="{{url_for('contact_me')}}"
        method="post"
        class="max-2-lg mx-auto w-[100%] self-start p-6 lg:w-[75%] xl:w-[50%]"
      >
        <div>
          <div class="mt-4 flex flex-col">
            <label for="basic-url" class="text-4xl">Full name</label>
            <input
              type="text"
              class="form-control mt-4 py-2 pl-1 focus:outline-none"
              placeholder="John Doe"
              name="name"
            />
            <hr />
          </div>
          <div class="mt-4 flex w-full flex-col px-0">
            <label for="basic-url" class="text-4xl">E-mail</label>
            <input
              type="text"
              class="form-control mt-4 py-2 pl-1 focus:outline-none"
              placeholder="johndoe@gmail.com"
              name="email"
            />
            <hr />
          </div>
          <div class="mt-4 flex flex-col">
            <label for="basic-url" class="text-4xl">Message</label>
            <input
              type="text"
              class="form-control mt-4 py-2 pl-1 focus:outline-none"
              placeholder="Write here your message"
              name="userMessage"
            />
            <hr />
          </div>
        </div>
        <div class="mt-8 flex flex-col text-center">
          <button
            class="mx-auto cursor-pointer rounded-lg bg-white p-2 px-4 text-center text-black"
            type="submit"
          >
            Send
          </button>
        </div>
      </form>
    </section>
    <script>
      // script.js
      document.addEventListener("DOMContentLoaded", function () {
        const hamburgerButton = document.getElementById("hamburger-button");
        const closeMenuButton = document.getElementById("close-menu");
        const mobileMenu = document.getElementById("mobile-menu");

        // Function to open menu
        function openMenu() {
          mobileMenu.classList.remove("hidden");
          mobileMenu.classList.add("block");
          document.body.classList.add("overflow-hidden");
        }

        // Function to close menu
        function closeMenu() {
          mobileMenu.classList.remove("block");
          mobileMenu.classList.add("hidden");
          document.body.classList.remove("overflow-hidden");
        }

        hamburgerButton.addEventListener("click", openMenu);
        closeMenuButton.addEventListener("click", closeMenu);

        // Handle resize events
        window.addEventListener("resize", function () {
          // If window width is lg breakpoint (1024px) or larger and menu is open, close it
          if (
            window.innerWidth >= 1024 &&
            mobileMenu.classList.contains("block")
          ) {
            closeMenu();
          }
        });
      });
    </script>
  </body>
</html>
