<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tetrafolio: Marco</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/output.css" />
  </head>
  <body class="overflow-x-hidden bg-black font-[Montserrat] text-white">
    <nav class="flex items-center justify-between gap-4 border-b p-4">
      <a href="{{url_for('home')}}">
        <img class="w-16" src="../assets/keyboard.png" alt="Logo" />
      </a>

      <!-- Desktop menu - visible on lg screens and above -->
      <div class="hidden gap-2 lg:flex">
        <a href="{{url_for('matei')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-2 text-black hover:bg-blue-500"
          >
            Matei Ovidiu Serban
          </button>
        </a>
        <a href="{{url_for('lorenzo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-2 text-black hover:bg-red-500"
          >
            Lorenzo Faccio
          </button>
        </a>
        <a href="#">
          <button
            class="cursor-pointer rounded-lg border bg-white p-2 text-black hover:bg-green-500"
          >
            Marco Fediuc
          </button>
        </a>
        <a href="{{url_for('matteo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-2 text-black hover:bg-yellow-400"
          >
            Jun Bao Matteo Qiu
          </button>
        </a>
        <a href="#">
          <button
            class="rounded-x1 duration-800 ml-4 overflow-hidden rounded-lg border-2 border-white bg-[#258a1a] p-1.5 px-4 text-[15px] font-bold text-[#131313] hover:bg-[#1cba1c] hover:text-white hover:shadow-[0_2px_0_2px_#188718]"
          >
            Change it up
          </button>
        </a>
      </div>

      <!-- Hamburger button - visible below lg screens -->
      <button
        id="hamburger-button"
        class="flex cursor-pointer flex-col items-center justify-center rounded-md bg-white p-2 lg:hidden"
      >
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
      </button>
    </nav>

    <!-- Mobile menu - hidden by default -->
    <div
      id="mobile-menu"
      class="fixed inset-0 z-50 hidden bg-[#1c1c1c] pt-4 text-white lg:hidden"
    >
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between">
          <img class="w-16" src="../assets/keyboard.png" alt="Logo" />
          <button
            id="close-menu"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white text-3xl text-black"
          >
            &times;
          </button>
        </div>
        <div class="mt-8 flex flex-col gap-4">
          <a href="{{url_for('matei')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-blue-500"
            >
              Matei Ovidiu Serban
            </button>
          </a>
          <a href="{{url_for('lorenzo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-red-500"
            >
              Lorenzo Faccio
            </button>
          </a>
          <a href="#">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-green-500"
            >
              Marco Fediuc
            </button>
          </a>
          <a href="{{url_for('matteo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-yellow-400"
            >
              Jun Bao Matteo Qiu
            </button>
          </a>
          <a href="#">
            <button
              class="w-full cursor-pointer rounded-lg border-black bg-[#2c2c2c] p-2 text-left text-green-700"
            >
              Change it up
            </button>
          </a>
        </div>
      </div>
    </div>

    <section
      class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-16 p-4 sm:flex-row sm:p-16"
    >
      <img
        src="../assets/marco-cropped.jpeg"
        class="w-[200px] rounded-[47%] border-4 border-green-600 lg:w-[250px]"
        alt="avatar"
      />
      <div class="w-[55%]">
        <div
          class="-gap-[10%] flex w-[70%] flex-col flex-col-reverse justify-between md:flex-row md:flex-col-reverse md:items-center"
        >
          <h2
            class="mt-4 whitespace-nowrap text-lg font-bold md:m-0 lg:text-xl"
          >
            Hi there! I'm
          </h2>
          <div class="flex items-center">
            <img
              class="mr-1 h-5 w-5 invert filter"
              src="../assets/location.png"
              alt=""
            />
            <h2 class="whitespace-nowrap text-xl font-bold">Pisa, Italy</h2>
          </div>
        </div>
        <h1
          class="mt-4 inline-block whitespace-nowrap bg-gradient-to-r from-white to-green-600 bg-clip-text text-3xl font-semibold tracking-tighter text-transparent sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl"
        >
          Marco Fediuc
        </h1>
        <p class="text-lg font-medium sm:w-[70%]">
          A computer science student who is looking forward to creating powerful
          backends for web applications.
        </p>
        <div
          class="mt-8 flex w-full items-center justify-center gap-12 sm:justify-start"
        >
          <a class="w-12" href="https://github.com/terabvte" target="_blank">
            <img src="../assets/github.png" alt="github" />
          </a>
          <a class="w-12" href="mailto:marcofediuc04@gmail.com" taget="_blank">
            <img src="../assets/mail.png" alt="mail" />
          </a>
          <a
            class="w-12"
            href="https://www.linkedin.com/in/marco-fediuc-9464b0238/"
            taget="_blank"
          >
            <img src="../assets/linkedin.png" alt="linkedin" />
          </a>
        </div>
      </div>
    </section>
    <div
      class="bg-linear-to-r mt-4 h-1 w-full from-green-300 to-green-500"
    ></div>

    <section
      class="Figmagradient lg:h-200 w-screen min-w-full overflow-hidden p-12 lg:relative"
    >
      <h1 class="-mt-4 mb-8 text-center text-4xl font-bold lg:mb-0">Skills</h1>

      <aside
        class="border-5 lg:top-25 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:left-[23%] md:mx-auto md:w-[75%] lg:absolute lg:left-[23%] lg:mb-0 lg:w-[25%] xl:left-[23%] xl:top-32 2xl:left-[23%]"
      >
        <h2 class="mb-2 text-xl font-bold">Front-End</h2>
        <p class="mb-2 font-medium">
          One of the facets of web development I’m most interested at the
          moment. <br />
        </p>
        <p class="mb-4 font-medium">
          Planning to learn the basics of React soon to upgrade my UIs through
          the use of components.
        </p>
        <div class="mt-4 flex flex-wrap gap-6">
          <img class="w-8" src="../assets/html.png" alt="HTML Icon" />
          <img class="w-8" src="../assets/css.png" alt="CSS Icon" />
          <img class="w-8" src="../assets/js.png" alt="Javascript Icon" />
          <img class="w-8" src="../assets/ts.png" alt="Typescript Icon" />
          <img class="w-10" src="../assets/tailwind.png" alt="Tailwind Icon" />
          <img class="w-8" src="../assets/react.png" alt="React Icon" />
        </div>
      </aside>
      <aside
        class="border-5 top-64 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:right-[24%] md:mx-auto md:w-[75%] lg:absolute lg:right-[24%] lg:mb-0 lg:w-[25%] xl:right-[24%] 2xl:right-[24%]"
      >
        <h2 class="mb-2 text-xl font-bold">Back-End and General Programming</h2>
        <p class="mb-4 font-medium">
          My long term objective. Back-end brings to the table problems that in
          my opinion are more intriguing and thought-provoking.
        </p>
        <div class="mt-4 flex flex-wrap gap-6">
          <img class="w-10" src="../assets/c-sharp.png" alt="C# Icon" />
          <img class="w-10" src="../assets/dotnets.png" alt=".NET Core Icon" />
          <img class="w-10" src="../assets/c.png" alt="C Icon" />
          <img class="w-10" src="../assets/python.png" alt="Python Icon" />
          <img class="w-10" src="../assets/java.png" alt="Java Icon" />
        </div>
      </aside>
      <aside
        class="border-5 bottom-2 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:left-[23%] md:mx-auto md:w-[75%] lg:absolute lg:left-[23%] lg:mb-0 lg:w-[25%] xl:bottom-16 xl:left-[23%] 2xl:left-[27%]"
      >
        <h2 class="mb-2 text-xl font-bold">Version-control</h2>
        <p class="mb-2 font-medium">
          A must in any programmer’s arsenal. <br />
          A VCS (Version Control System) allows the user to save snapshots of
          the code which allows for seamless collaboration and reversal in case
          of errors
        </p>
        <div class="mt-4 flex flex-wrap gap-4">
          <img class="w-8" src="../assets/github.png" alt="GitHub Icon" />
          <img class="w-8" src="../assets/git2.png" alt="Git Icon" />
        </div>
      </aside>
    </section>
    <div class="bg-linear-to-r h-1 w-full from-green-300 to-green-500"></div>
    <section class="h-[80%] bg-[#09090b]">
      <h1 class="mb-2 p-8 text-center text-4xl font-bold">Projects</h1>
      <div
        class="flex flex-col flex-col-reverse items-center justify-center gap-16 p-4 lg:flex-row"
      >
        <img
          id="food-img"
          class="w-[75%] cursor-pointer object-contain md:w-[70%] lg:w-[50%] xl:w-[50%]"
          src="../assets/omnifood.png"
          alt="Image of the food website: Omnifood"
        />
        <div class="w-[80%] rounded-xl border-4 p-6 lg:h-[10%] lg:w-[25%]">
          <h2 class="mb-2 text-2xl font-bold">Omnifood</h2>
          <p>A static website created with HTML and CSS <br /></p>
          <ul class="mt-2 list-inside list-disc space-y-2">
            <li>Working with modern layouts using the following:</li>
            <ul class="ml-6 list-inside list-disc space-y-2">
              <li>CSS Grid, like reusable grids.</li>
              <li>Flexbox, for navbar and centering.</li>
            </ul>
            <li>Various modern website design rules</li>
            <li>
              More advanced styling with CSS (z-index, rem units, forms,
              semantic HTML, and more...)
            </li>
            <li>Responsive web design</li>
            <li>A very subtle introduction to Javascript</li>
            <li>
              ...and
              <a
                href="https://github.com/terabvte/omnifood"
                class="text-blue-500 underline"
                >more</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="mt-8 flex flex-col flex-col-reverse items-center justify-center gap-16 p-4 lg:flex-row-reverse"
      >
        <img
          id="pw-img"
          class="w-[75%] cursor-pointer object-contain md:w-[70%] lg:w-[50%] xl:w-[35%]"
          src="../assets/password.png"
          alt="Image of a Password Generator"
        />
        <div class="w-[80%] rounded-xl border-4 p-6 lg:h-[10%] lg:w-[25%]">
          <h2 class="mb-2 text-2xl font-bold">Password Generator</h2>
          <p>
            An interactive website made with Tailwind CSS and Javascript that
            generates two passwords at a time when clicking the button.
          </p>
          <p>What I've learned</p>
          <ul class="ml-6 list-inside list-disc space-y-2">
            <li>Getting more familiar with Tailwind’s utility classes</li>
            <li>Javascript DOM Manipulation</li>
            <li>Javascript Arrays and Array Methods</li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="p-8">
      <div class="mb-6 mt-8 flex items-center justify-center gap-16">
        <a class="w-12" href="https://github.com/terabvte" target="_blank">
          <img src="../assets/github.png" alt="github" />
        </a>
        <a class="w-12" href="mailto:marcofediuc04@gmail.com" taget="_blank">
          <img src="../assets/mail.png" alt="mail" />
        </a>
        <a
          class="w-12"
          href="https://www.linkedin.com/in/marco-fediuc-9464b0238/"
          target="_blank"
        >
          <img src="../assets/linkedin.png" alt="curriculum" />
        </a>
      </div>
      <div class="flex flex-col justify-center">
        <h3 class="mb-2 text-center font-medium">Reach out to me at:</h3>
        <a
          href="{{url_for('contact_me')}}"
          class="mx-auto cursor-pointer rounded-lg bg-white p-2 px-4 text-center text-black"
        >
          <button class="cursor-pointer">Link to the form</button>
        </a>
      </div>
    </footer>
    <script>
      document
        .querySelector("#food-img")
        .addEventListener("click", function () {
          window.location.href = "https://omnifood-tera.netlify.app/";
        });

      document.querySelector("#pw-img").addEventListener("click", function () {
        window.location.href =
          "https://github.com/terabvte/web_learn?tab=readme-ov-file#password-generator";
      });

      // script.js
      document.addEventListener("DOMContentLoaded", function () {
        const hamburgerButton = document.getElementById("hamburger-button");
        const closeMenuButton = document.getElementById("close-menu");
        const mobileMenu = document.getElementById("mobile-menu");

        // Function to open menu
        function openMenu() {
          mobileMenu.classList.remove("hidden");
          mobileMenu.classList.add("block");
          document.body.classList.add("overflow-hidden");
        }

        // Function to close menu
        function closeMenu() {
          mobileMenu.classList.remove("block");
          mobileMenu.classList.add("hidden");
          document.body.classList.remove("overflow-hidden");
        }

        hamburgerButton.addEventListener("click", openMenu);
        closeMenuButton.addEventListener("click", closeMenu);

        // Handle resize events
        window.addEventListener("resize", function () {
          // If window width is lg breakpoint (1024px) or larger and menu is open, close it
          if (
            window.innerWidth >= 1024 &&
            mobileMenu.classList.contains("block")
          ) {
            closeMenu();
          }
        });
      });
    </script>
  </body>
</html>
