<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tetrafolio: Matteo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/x-icon" href="../assets/logo.webp" />
    <link rel="stylesheet" href="../assets/output.css" />
  </head>
  <body class="overflow-x-hidden bg-black text-white">
    <nav class="flex items-center justify-between gap-4 border-b p-4">
      <a href="{{url_for('home')}}">
        <img
          class="w-12 hover:motion-safe:animate-spin"
          src="../assets/logo.webp"
          alt="Logo"
        />
      </a>

      <!-- Desktop menu - visible on lg screens and above -->
      <div class="hidden items-center gap-2 lg:flex">
        <a href="{{url_for('matei')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-blue-500"
          >
            Matei Ovidiu Serban
          </button>
        </a>
        <a href="{{url_for('lorenzo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-red-500"
          >
            Lorenzo Faccio
          </button>
        </a>
        <a href="{{url_for('marco')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-green-500"
          >
            Marco Fediuc
          </button>
        </a>
        <a href="{{url_for('matteo')}}">
          <button
            class="cursor-pointer rounded-lg border bg-white p-1.5 px-4 text-black duration-300 hover:bg-yellow-400"
          >
            Jun Bao Matteo Qiu
          </button>
        </a>
        <a
          href="#"
          class="group relative ml-4 inline-flex items-center justify-center overflow-hidden text-nowrap rounded-lg bg-yellow-700 px-4 py-1.5 font-medium tracking-tighter text-white"
        >
          <span
            class="absolute h-0 w-0 rounded-full bg-yellow-500 transition-all duration-500 ease-out group-hover:h-56 group-hover:w-56"
          ></span>
          <span
            class="absolute inset-0 -mt-1 h-full w-full rounded-lg bg-gradient-to-b from-transparent via-transparent to-gray-700 opacity-30"
          ></span>
          <span class="relative">
            <span
              class="block opacity-100 transition-opacity duration-300 group-hover:opacity-0"
              >Change it up!</span
            >
            <span
              class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100"
              >Coming soon!</span
            >
          </span>
        </a>
      </div>

      <!-- Hamburger button - visible below lg screens -->
      <button
        id="hamburger-button"
        class="flex cursor-pointer flex-col items-center justify-center rounded-md bg-white p-2 lg:hidden"
      >
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
        <span class="mb-1 block h-[3px] w-6 bg-black"></span>
      </button>
    </nav>

    <!-- Mobile menu - hidden by default -->
    <div
      id="mobile-menu"
      class="fixed inset-0 z-50 hidden bg-[#1c1c1c] pt-4 text-white lg:hidden"
    >
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between">
          <img class="w-16" src="../assets/logo.webp" />
          <button
            id="close-menu"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white text-3xl text-black"
          >
            &times;
          </button>
        </div>
        <div class="mt-8 flex flex-col gap-4">
          <a href="{{url_for('matei')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-blue-500"
            >
              Matei Ovidiu Serban
            </button>
          </a>
          <a href="{{url_for('lorenzo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-red-500"
            >
              Lorenzo Faccio
            </button>
          </a>
          <a href="{{url_for('marco')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-green-500"
            >
              Marco Fediuc
            </button>
          </a>
          <a href="{{url_for('matteo')}}">
            <button
              class="w-full cursor-pointer rounded-lg border bg-white p-2 text-left text-black hover:bg-yellow-400"
            >
              Jun Bao Matteo Qiu
            </button>
          </a>
          <div class="w-full">
            <input
              type="radio"
              id="state1"
              name="mobile-state"
              class="peer/default hidden"
              checked
            />
            <input
              type="radio"
              id="state2"
              name="mobile-state"
              class="peer/active hidden"
            />

            <label
              for="state2"
              class="block w-full cursor-pointer rounded-lg bg-green-800 p-2 text-left text-white peer-checked/default:block peer-checked/active:hidden"
            >
              Change it up!
            </label>

            <label
              for="state1"
              class="hidden w-full cursor-pointer rounded-lg bg-yellow-600 p-2 text-left text-white peer-checked/active:block peer-checked/default:hidden"
            >
              Coming soon!
            </label>
          </div>
        </div>
      </div>
    </div>

    <section
      class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-16 p-4 sm:flex-row sm:p-16"
    >
      <img
        src="../assets/matteo.webp"
        class="border-5 h-[250px] w-[250px] rounded-[50%] border-yellow-500 object-cover"
        alt="avatar"
      />
      <div class="w-[70%]">
        <div
          class="flex w-[80%] flex-col flex-col-reverse justify-between gap-[25%] md:flex-row md:flex-col-reverse md:items-center"
        >
          <h2
            class="mt-4 whitespace-nowrap text-lg font-bold md:m-0 lg:text-xl"
          >
            Hi there! I'm
          </h2>
          <div class="flex items-center">
            <img
              class="h-6 w-6 invert filter"
              src="../assets/location.png"
              alt=""
            />
            <h2 class="whitespace-nowrap text-xl font-bold">Verona, Italy</h2>
          </div>
        </div>
        <h1
          class="mt-4 inline-block whitespace-nowrap bg-gradient-to-r from-white to-yellow-500 bg-clip-text text-3xl font-semibold tracking-tighter text-transparent sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl"
        >
          Jun Bao Matteo Qiu
        </h1>
        <p class="text-lg font-medium sm:w-[80%]">
          A computer science student looking forward to learn A.I
        </p>
        <div
          class="mt-8 flex w-full items-center justify-center gap-12 sm:justify-start"
        >
          <a class="w-12" href="https://github.com/M1T730" target="_blank">
            <img src="../assets/github.png" alt="github" />
          </a>
          <a class="w-12" href="mailto:matteoqiu4684@gmail.com" taget="_blank">
            <img src="../assets/mail.png" alt="mail" />
          </a>
        </div>
      </div>
    </section>
    <div
      class="bg-linear-to-r mt-4 h-1 w-full from-yellow-500 to-yellow-400"
    ></div>

    <section
      class="Figmagradient lg:h-200 w-screen min-w-full overflow-hidden p-12 lg:relative"
    >
      <h1 class="-mt-4 mb-8 text-center text-4xl font-bold lg:mb-0">Skills</h1>

      <aside
        class="border-5 lg:top-25 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:left-[23%] md:mx-auto md:w-[75%] lg:absolute lg:left-[23%] lg:mb-0 lg:w-[25%] xl:left-[23%] xl:top-32 2xl:left-[23%]"
      >
        <h2 class="mb-2 text-xl font-bold">Front-End</h2>
        <p class="mb-4">
          I have the basics of HTML and CSS. <br />
          Looking forward learning<br />
          JavaScript and React.
        </p>
        <div class="mt-4 flex flex-wrap gap-6">
          <img class="w-8" src="../assets/html.png" alt="HTML Icon" />
          <img class="w-8" src="../assets/css.png" alt="CSS Icon" />
          <img class="w-8" src="../assets/js.png" alt="Javascript Icon" />
          <img class="w-8" src="../assets/ts.png" alt="Typescript Icon" />
        </div>
      </aside>
      <aside
        class="border-5 top-64 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:right-[24%] md:mx-auto md:w-[75%] lg:absolute lg:right-[24%] lg:mb-0 lg:w-[25%] xl:right-[23%] 2xl:right-[23%]"
      >
        <h2 class="mb-2 text-xl font-bold">Back-End</h2>
        <p class="mb-6">
          Currently proficient in C++ and <br />
          Python, and studying C, have plans <br />
          to study Java as well.
        </p>
        <div class="-mt-4 flex flex-wrap gap-4">
          <img class="w-8" src="../assets/c.png" alt="C Icon" />
          <img class="w-8" src="../assets/python.png" alt="Python Icon" />
          <img class="w-8" src="../assets/java.png" alt="Java Icon" />
          <img class="w-8" src="../assets/cpp.png" alt="C++ Icon" />
        </div>
      </aside>
      <aside
        class="bottom-30 border-5 mb-8 rounded-xl bg-black/70 p-4 shadow-2xl md:left-[23%] md:mx-auto md:w-[75%] lg:absolute lg:left-[23%] lg:mb-0 lg:w-[26%] xl:left-[23%] 2xl:left-[27%]"
      >
        <h2 class="mb-2 text-xl font-bold">Version-control</h2>
        <p class="mb-2">
          Currently no experience in any VCS,<br />
          have plans to get into git and GitHub.
        </p>
        <div class="mt-4 flex flex-wrap gap-4">
          <img class="w-8" src="../assets/github.png" alt="GitHub Icon" />
          <img class="w-10" src="../assets/git2.png" alt="Git Icon" />
        </div>
      </aside>
    </section>
    <div class="bg-linear-to-r from-yellow_400 h-1 w-full to-yellow-300"></div>
    <section class="h-[80%] bg-[#09090b]">
      <h1 class="mb-8 p-8 text-center text-4xl font-bold">Projects</h1>
      <div
        class="flex flex-col flex-col-reverse items-center justify-center gap-16 p-4 lg:flex-row"
      >
        <img
          class="w-[75%] object-contain md:w-[50%] lg:w-[35%]"
          src="../assets/pong.png"
          alt="Image of a Pong Game"
        />
        <div class="w-[80%] rounded-xl border-4 p-6 lg:h-[10%] lg:w-[25%]">
          <h2 class="mb-2 text-2xl font-bold">Pong</h2>
          <p>
            Remade popular mini-games like Snake and Pong using Python’s Turtle
            module. These projects helped me develop the notions of game
            mechanics, animations, and user interaction.
          </p>
        </div>
      </div>
    </section>
    <footer class="p-8">
      <div class="mb-6 mt-8 flex items-center justify-center gap-16">
        <a class="w-12" href="https://github.com/M1T730" target="_blank">
          <img src="../assets/github.png" alt="github" />
        </a>
        <a class="w-12" href="mailto:matteoqiu4684@gmail.com" taget="_blank">
          <img src="../assets/mail.png" alt="mail" />
        </a>
      </div>
      <div class="flex flex-col justify-center">
        <h3 class="mb-2 text-center font-medium">Reach out to me at:</h3>
        <a
          href="{{url_for('contact_me')}}"
          class="mx-auto cursor-pointer rounded-lg bg-white p-2 px-4 text-center text-black"
        >
          <button class="cursor-pointer">Link to the form</button>
        </a>
      </div>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const hamburgerButton = document.getElementById("hamburger-button");
        const closeMenuButton = document.getElementById("close-menu");
        const mobileMenu = document.getElementById("mobile-menu");

        // Function to open menu
        function openMenu() {
          mobileMenu.classList.remove("hidden");
          mobileMenu.classList.add("block");
          document.body.classList.add("overflow-hidden");
        }

        // Function to close menu
        function closeMenu() {
          mobileMenu.classList.remove("block");
          mobileMenu.classList.add("hidden");
          document.body.classList.remove("overflow-hidden");
        }

        hamburgerButton.addEventListener("click", openMenu);
        closeMenuButton.addEventListener("click", closeMenu);

        // Handle resize events
        window.addEventListener("resize", function () {
          // If window width is lg breakpoint (1024px) or larger and menu is open, close it
          if (
            window.innerWidth >= 1024 &&
            mobileMenu.classList.contains("block")
          ) {
            closeMenu();
          }
        });
      });
    </script>
  </body>
</html>
