.Figmagradient {
  background: linear-gradient(300deg, red, blue, green, orange);
  background-size: 180%, 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 70%;
  }
  50% {
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 80%;
  }
}




/*
.form-control{
  font-size: 0,9rem:
  color: white;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 5em;
  padding-block: 1em;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221, 0.39);
}

.form-control-border {
  position: absolute;
  background: black;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.form-control:focus {
  outline: none;
}
*/
